header{
    height: 10%;
    background-color: rgb(74, 88, 100);
    display: flex;
    padding: 20px;
    position: sticky;
    width: 100%;
    top: 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.header-left{
    width: 83%;
}

/* img{
    width: 30px;
    margin-left: 20px;
    display: inline-block;
} */

h1{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    margin-left: 30px;

}

.header-right{
    width: 40%;
}
.header-right ul{
    display: flex;
}

.header-right ul li a{
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
}

.header-right ul li a:hover{
    color: black;
    transition: 0.4s ease-in-out;
}
.header-right ul li::after{
    content: "|";
    margin-left: 10px;
    color: #ffffff81;
}
 .header-right ul .li-end::after{
    content: "";

}
.book-container{
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;

}

.book-items{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.new-book{


}

.book-item{
    margin-bottom: 15px;
    width: 200px;
    height: 300px;
    border: 2px solid black;
    border-radius: 5px;


}
h2{
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    color: rgba(85, 72, 55, 0.684);
    cursor: pointer;
    margin-bottom: 20px;

}
h2:hover{
    color: #000;
    transition: 0.5s ease-in-out;
}
footer{
    background-color: rgb(60, 65, 63);
    text-align: center;
    padding: 50px;
    color: #fff;
}

footer p{
    font-size: 20px;
    cursor: pointer;
}



